html ,body{
    font-family: "Lato", 'Lucida Sans Regular', 'Lucida Grande', serif;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    overflow-x:hidden;
}
.row{
    max-width: 1140px;
    margin: 0px auto;
}
h1 {
    margin-bottom: 20px;
    font-size: 240%;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("img/hero.jpg");
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    z-index: 0;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    margin-left: 1px;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    margin-right: 25px;
    text-decoration: none;
    font-weight: 300px;
    border-radius: 200px;
    transition: background-color 0.4s, border 0.4s, color 0.4s;
}

.btn-full:link,
.btn-full:visited {
    background-color: orange;
    color: white;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: orange solid 1px;
    color: orange;
}
.btn:hover,
.btn:active{
    background-color: #ff8c00;
}
.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-left: 25px;
    margin-top: 20px;
}
.main-nav{
    float: right;
    list-style: none;
    margin-top: 55px;
}
.main-nav li{
    display: inline-block;
    margin-right: 40px;
}
.main-nav li a:link,
.main-nav li a:visited{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    font-size: 90%;
    transition: border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom:2px solid orange ;
}
h2 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 40px;
}
h2::after{
    display: block;
    height: 3px;
    background-color: orange;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}
.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 30px;
}
h3{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 110%;
    margin: 0px;
    margin-bottom: 15px;
    padding: 0px;
    
}
.box{
    margin-left: 60px;
}
.box p{

    font-size: 90%;
    line-height: 145%;
}
.icon-big{
    font-size: 350%;
    display: block;
    color: orange;
    margin-bottom: 20px;
}
.meals-showcase{
    list-style: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.meals-showcase li{
    display: block;
    float: left;
    width: 25%;
}
.meal-photo{
    width: 100%;
    margin: 0px;
    overflow: hidden;
    background-color: black;
    transition: transform 0.5s, opacity 0.5s;
}
.meal-photo img{
    width: 100%;
    height: auto;
    transform: scale(1.15);
    opacity: 0.7;
}
.meal-photo img:hover{
    transform: scale(1.03);
    opacity: 1;
}
.clear-fix{zoom: 1;}
.clearfix::after{
    content: ". ";
    clear: both;
    display: block;
    height: 0px;
    visibility: hidden;
}
.works-steps{
    margin-bottom: 70px;
}
.steps-box:first-child{
    text-align: center;
    margin-top: 30px;
}
.steps-box:last-child{
    padding-left: 3%;
    margin-top: 70px;
}
.app-screen{
    width: 40%;
}

.works-steps div{
    color: orange;
    border: 4px solid orange;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 10px;
    font-size: 210%;
    float: left;
}
.works-steps:last-of-type{
    margin-bottom: 140px;
}
.btn-app img{
    height: 50px;
    width: auto;
    margin-right: 10px;
}
.section-steps{
    background-color:#f4f4f4 ;
}
.steps{
    margin-top: 80px;
}
.works-steps p{
    padding: 20px 4px 30px 100px;
}

.cities{
    position: relative;
    margin-top: 80px;
    padding: 20px;
    margin-bottom: 50px;
}
.cards{
    padding: 0px 40px;
}
.box img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}
.city-feature{
    margin-bottom: 5px;
}
.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: orange;
    font-size: 120%;
    line-height: 120%;
    margin-top: -5px;
    margin-right: 10px;
}
.city-feature a:link,
.city-feature a:visited{
    color: orange;
    text-decoration: none;
    border-bottom: 2px solid orange;
    padding: 1px;
}
.city-feature a:hover,
.city-feature a:active{
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s ;
}

.section-testimonials{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/back-customers.jpg);
    background-size: cover;
    color: white;
    background-attachment: fixed;
}

blockquote{
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    margin-top: 40px;
    position: relative;
}
cite{
    font-size: 90%;
    display: block;
    margin-top: 25px;
}
cite img{
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}
.last{
    padding-top: 120px;
}
blockquote::before{
    content: '\201c';
    font-size: 500%;
    display: block;
    position: absolute;
    top: 0px;
    left: -3;
}

.section-plan{
    background-color: #f4f4f4;
    padding-top: 50px;
    padding-bottom: 100px;
}
.plan-box{
    background-color: white;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
}
.plan-box div{
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}
.plan-price{
    font-size: 300%;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 100;
    color: orange;

}
.plan-price-meal {
    font-size: 80%;
}
.plan-price span{
    font-size: 30%;
    font-weight: 500;
}
.plan-box ul{
    list-style: none;
}
.plan-box ul li{
    padding: 5px 0px;
}
.plan-box div:last-child{
    border:0px;
    text-align: center;
}
.plan-box div:first-child{
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.contact-form{
    width: 60%;
    margin: 0px auto;
}
input[type=text],
input[type=email],
select,
textarea{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
textarea{
    height: 100%;
}
input[type=checkbox]{
    margin: 10px 5px 10px 0px;
    background-color: #eee;
}

footer{
    background-color: #333;
    font-size: 80%;
    padding: 50px;
    margin-top: 50px;
}
.footer-nav{
    list-style: none;
    float: left;
    padding: 0px;
}
.social-links{
    list-style: none;
    float: right;
}
.footer-nav li,
.social-links li{
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    border: 0;
    color: #888;
}
.footer-nav li a:hover,
.footer-nav li a:active{
    color: #ddd;
}

footer p{
    color: #888;
    text-align: center;
    font-size: 90%;
    margin-top: 20px;
}
.fb:hover{
    color: #3b5988;
}
.twitt:hover{
    color: #00aced;
}
.google:hover{
    color: #dd4b39;
}
.insta:hover{
    color: #517fa4;
}
.social-links li a:link,
.social-links li a:visited{
    font-size: 160%;
}

